.MainNews{
    display: flex;
    margin-left: 100px;
    justify-content: space-evenly;
}
.H1Latest{
    color: rgba(30, 33, 44, 1);
    font-size: 50px;
    font-weight: 900;
}
.Plorem{
    color:rgba(66, 69, 81, 1);
    font-size: 25px;
    font-weight: 400;
}
.PGoto{
    color: white;
    background-color: rgba(119, 114, 241, 1);
    border-radius: 4px;
    padding: 10px 40px;
    display: inline;

}