* {
    margin: 0;
    font-family: sans-serif;
}

.circles {
    p {
        color: #424551;
        margin-top: 25px;
    }

    text-align: center;
}

.client-div {
    background-color: #F4F5F6;
    padding: 50px 150px;
}

.header-div-cl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last-div-cl {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.img-div {
    display: flex;

    img {
        width: 33%;
        margin-top: 50px;
    }
}

.Carts {
    border: 1px solid #7772F166;
    padding: 40px 100px;
    text-align: center;

    b {
        font-size: 20px;
        margin-bottom: 30px;
    }

    p {
        line-height: 40px;
    }

    .p-text {
        line-height: 30px;
        text-align: start;
    }

    button {
        padding: 10px 30px;
        margin-top: 20px;
        border: 1px solid #7772F1;
        color: #7772F1;
        border-radius: 5px;
        background-color: white;
    }
}

.price {
    display: flex;
    align-items: start;
    margin-top: 20px;
    gap: 10px;

    span {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 20px;
    }
}

.latest-div {
    margin-bottom: 100px;
    padding: 30px 150px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    div {
        width: 30%;

        h2 {
            font-size: 36px;
            font-weight: 900;
            line-height: 59.8px;
            color: #1E212C;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            margin: 10px 0;
            color: #424551;
        }

    }
}

.div-1cl {
    button {
        padding: 0;
        background-color: white;
        border: none;
        margin-top: 10px;
        font-size: 14px;
    }
}

.div-2cl {
    button {
        padding: 0;
        background-color: white;
        border: none;
        margin-top: 10px;
        font-size: 14px;
    }
}

.rew-div {
    display: flex;
    padding: 30px 150px;
    margin-top: 100px;
    gap: 80px;
    align-items: center;

    img {
        width: 700px;
        height: 400px;
    }

    h2 {
        font-size: 32px;
        font-weight: 900;
        line-height: 45.6px;
        text-align: left;
        color: #1E212C;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        margin: 30px 0;
        color: #787A80;
    }
}

.btn-1-v {
    display: inline;
    margin-right: 30px;

    button {
        background-color: white;
        color: #7772F1;
        border: 2px solid #7772F1;
    }
}


.banner2-div {
    display: flex;
    margin-top: 100px;
    padding: 50px 150px;
    justify-content: space-between;
    background-color: #1E212C;

    h2 {
        font-size: 40px;
        font-weight: 900;
        line-height: 59.8px;
        color: white;
    }

}
.viyoletBtn{
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.2px;
    padding: 0px 20px;
    background-color: #7772F1;
    border-radius: 5px;
    border: none;
    color: white;
}
.inp-bn2 {
    width: 45%;

    input {
        background-color: #FFFFFF1F;
        border: 1px solid #FFFFFF33;
        width: 220px;
        height: 30px;
        outline: none;
        border: none;
        border-radius: 5px;
    }

    .inp3 {
        width: 475px;
    }
}

.inps {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.check-div {
    display: flex;
    margin-top: 50px;
    align-items: center;

    p {
        width: 315px;
        color: white;
    }
}

.cards-bg {
    width: 590px;
    margin-top: 30px;

    border: 1px solid #E5E8ED;

    .bg {
        width: 100%;
    }
}

.div1-cards {
    position: relative;
}

.cl-logo {
    position: absolute;
    left: 30px;
    top: 30px;
}

.cl-text {
    position: absolute;
    left: 40px;
    top: 100px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: white;
}

.div-2card {
    padding: 20px;

    img {
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        color: #787A80;
    }
    button{
        margin-top: 20px;
        color: #1E212C;
        font-weight: 600;
        border: none;
        background-color: white;
    }
}
.pricing-div {
    padding: 30px 150px;
    margin-top: 100px;
    text-align: center;

    .price-div {
        display: flex;
        gap: 50px;
        margin-top: 50px;
    }
}

.black {
    div {
        background-color: #1E212C;
        color: white;

        button {
            background-color: #7772F1;
            color: white;
        }
    }
}

.services-div {
    padding: 30px 150px;
    margin-top: 100px;

    h1 {
        font-size: 46px;
        font-weight: 900;
        line-height: 59.8px;
        text-align: center;
        color: #1E212C;
    }
}

.btns-service {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    button {
        font-size: 16px;
        font-weight: 700;
        line-height: 25.6px;
        text-align: center;
        color: #9A9CA5;
        background-color: white;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    .v-buuton {
        padding: 6px 50px;
        color: #7772F1;
        border: 2px solid #7772F1;
    }
}

.service-text {
    width: 45%;

    h2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        width: 400px;
        margin: 20px 0;
    }

    p {
        color: #424551;
        font-size: 17px;
        font-weight: 400;
        line-height: 35.6px;
    }
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.btn1 {
    button {
        background-color: white;
        color: #7772F1;
        border: 2px solid #7772F1;
    }
}

.service-flex {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}
