.footer {
  background: #1a1a2e;
  color: gray;
  padding: 40px 20px;
  font-size: 0.9rem;
}

.footer-top {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.footer-column {
  flex: 1 1 calc(20% - 20px);
  margin: 10px;
}


.footer-column h3,
.footer-column h4 {
  color: #a29bfe;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: gray;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #a29bfe;
}

.footer-socials a {
  display: inline-block;
  margin-right: 10px;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}
.footer-images{
  display: flex;
  margin-bottom: 10px;
}

.footer-socials a:hover {
  color: #a29bfe;
}

.newsletter form {
  display: flex;
  gap: 10px;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter button {
  background: #6c5ce7;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 20px;
  text-align: start;
}

.footer-partners img {
  max-height: 40px;
  margin: 0 10px;
}
.footer-partners{
  text-align: start;
}
.footer-partners{
  justify-content: space-between;
  display: flex;
}

.go-to-top {
  display: block;
  margin-top: 10px;
  color: #a29bfe;
  text-decoration: none;
}

.go-to-top:hover {
  color: white;
}

.footer-column img{
  margin-bottom: 10px;
}
